.section {
    background-color: var(--white);
    color: var(--primary-color);
    min-height: 100vh;
    padding-bottom: 20vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 24px;
}

.main > h1 {
    font-size: var(--font-size-lg);
}

.main > h2 {
    font-size: var(--font-size-md);
}

.phone {
    font-size: var(--font-size-md);
}

.phoneNumber {
    padding-left: 4px;
}

.email {
    font-size: var(--font-size-base);
}

@media (max-width: 768px) {
    .main {
        margin-top: 5vh;
    }
}

@media (prefers-color-scheme: dark) {
    .section:first-child {
      background-color: var(--primary-color-black);
      color: var(--white);
    }
  }
  