.section {
    background-color: var(--white);
    color: var(--primary-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    scroll-snap-align: start;
    position: relative;
    flex-direction: column;
    z-index: 2;
    padding-bottom: 2vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 24px;
}

.main > h1 {
    font-size: var(--font-size-lg);
}
.main > h2 {
    font-size: var(--font-size-xl);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 16px;    
    justify-content: center;    
}

.row > .label,
.row > .value {
    font-size: var(--font-size-base);
}

.rowCalendar {
    margin: 16px;
    align-items: center;
}

.rowCalendar > .label {
    position: relative;
    text-align: right;
    min-width: 68px;
}

.rowCalendar > .label:before {
    content: "";
    position: absolute;
    right: -8px;
    background-color: var(--primary-color);
    height: 100%;
    width: 3px;
}

.rowCalendar > .value {
    padding-left: 8px;
    font-size: var(--font-size-base);
}

.rowAddress {
    font-size: var(--font-size-md);
}

.today {
    background-color: var(--secondary-color);
}


.group > h3 {
    font-size: var(--font-size-lg);
}

.group > h4 {
    font-size: var(--font-size-md);
}

.sunday > .value {
    padding: 0 20px;
}

.busInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rowBus {
    display: flex;
    align-items: center;
    align-self: baseline;
}

.rowBus > .value {
    font-size: var(--font-size-base);
}

.row > .labelNum {
    height: 24px;
    width: 24px;
    background-color: hsl(15.65,73.25%,69.22%);
    color: var(--white);
    border-radius: 50%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
}

.row > .labelNum2 {
    background-color: hsl(243.33,29.67%,64.31%);
}

.row > .labelNum3 {
    background-color: hsl(55.15,96.12%,79.8%);
    color: var(--black);
}

.row > .labelNum5 {
    background-color: hsl(197.57,86.6%,59.02%);
    color: var(--black);
}

@media (max-width: 768px) {
    .section {
        padding-bottom: 20vw;
    }

    .main {
        margin-top: 5vh;
    }
}

@media (prefers-color-scheme: dark) {
    .section {
      background-color: var(--primary-color-black); 
      color: var(--white);
    }

    .today {
        background-color: var(--primary-color);
    }

    .today > .label:before {
        background-color: var(--white);
    }
  }
  