.section {
    background-color: var(--white);
    color: var(--primary-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    scroll-snap-align: start;
    position: relative;
    flex-direction: column;
    z-index: 2;
    padding-bottom: 2vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 24px;
}

.main > h1 {
    font-size: var(--font-size-lg);
}
.main > h2 {
    font-size: var(--font-size-md);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 16px;    
    justify-content: center;    
}

.rowCalendar {
    margin: 16px;
    align-items: center;
}

.rowCalendar > .label {
    position: relative;
    text-align: right;
    min-width: 56px;
}

.rowCalendar > .label:before {
    content: "";
    position: absolute;
    right: -8px;
    background-color: var(--primary-color);
    height: 100%;
    width: 3px;
}

.rowCalendar > .value {
    padding-left: 8px;
    font-size: var(--font-size-base);
}

.rowAddress {
    font-size: var(--font-size-md);
}

.today {
    background-color: var(--secondary-color);
}

.group > h3 {
    font-size: var(--font-size-md);
}

.sunday > .value {
    padding: 0 20px;
}
@media (max-width: 768px) {
    .section {
        padding-bottom: 20vw;
    }

    .main {
        margin-top: 5vh;
    }
}

@media (prefers-color-scheme: dark) {
    .section {
      background-color: var(--primary-color-black); 
      color: var(--white);
    }

    .today {
        background-color: var(--primary-color);
    }

    .today > .label:before {
        background-color: var(--white);
    }
  }
  