.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  scroll-snap-align: start;
  position: relative;
  flex-direction: column;
  z-index: 2;
  padding: 2vw 0;
}

.section:first-child {
  background-color: var(--black);
  padding-top: 0;
}

.sectionBigContent {
  padding-bottom: 10vw;
}


.sectionAlternate {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sectionClassic {
  background-color: var(--primary-color);
  color:var(--secondary-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contentWithoutImage {
  margin: 5vmax 0;
}

.textWithImageWrapperCenter > .texts {
  margin: auto 0;
}

.sectionButton {
  align-self: center;
}


.titleContent {
  font-size: var(--font-size-xl);
}

.textWithImageWrapper {
  display: flex;
  flex-direction: row;
  gap: 64px;
  margin-top: 3vmax;
  width: 60vw;
}

.textWithImageWrapperAlternate {
  flex-direction: row-reverse;
}

.image {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  background-color: var(--secondary-color);
}


.texts {
  font-size: var(--font-size-base);
  display: flex;
  flex-direction: column;
}

.text {
  text-align: justify;
}

.text:not(:first-child) {
  margin: 16px 0;
}

.text:first-child {
  text-indent: 2vw;
  margin: 0 0 16px 0;
}

.text > p {
  margin: 8px 0;
}


.buttonContact {
  position: absolute;
  right: 4vw;
  top: 2vw;
}


@media (max-width: 768px) {
  .buttonMain {
    margin-top: 5vmax;
    width: max-content
  }

  .titleMain {
    padding: 1vw 8vw;
    width: 100vw;
    border-radius: 0px;
  }

  .nav, .buttonContainer {
    display: none;
  }

  .burgerIcon {
    display: block;
    flex: 0 0 auto;
  }

  .main {
    padding: 25vmax 0;
  }

  .citation {
    width: 90vw;
  }

  .textWithImageWrapper {
    flex-direction: column;
    gap: 32px;
    width: 90vw;
    align-items: center;
  }

  .image {
    height: 50vw;
    width: 50vw;
  }

  .sectionButton {
    align-self: center;
  }

  .mobileMenu {
    display: block;
    clip-path: circle(0);
    transition: .5s ease-in-out all;
  }

  .mobileMenuOpen {
    clip-path: circle(100%);
  }

  .buttonContact {
    display: none;
  }

  .text {
  }
}

@media (prefers-color-scheme: dark) {
  .sectionAlternate {
    background-color: var(--primary-color-black);
    color: var(--white);
  }
}
